TaskCoreDataTableView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
TaskCoreDataTableView.xcodeproj/project.xcworkspace/xcuserdata/mac.xcuserdatad/UserInterfaceState.xcuserstate
TaskCoreDataTableView.xcodeproj/xcuserdata/mac.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
Podfile.lock
Pods/
TaskCoreDataTableView.xcodeproj/project.xcworkspace/xcuserdata/
TaskCoreDataTableView.xcworkspace/
